*{
	margin: 0;
	padding: 0;

}
.chat{
	width: 100vw;
	height: 92.5vh;
	background-color: #2a2a2b;
}
.formulariomsg{	
	display: flex;
	margin: 0 2vw 0 2vw;
	background-color: #2a2a2b;
	
}
.mensagem{	
	width: 100%;
	overflow: auto;
	margin-top: 5px;
	margin-bottom: 5px;

	
}
#texto{
	margin-top: 0.7vh;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	position: fixed;
	width: 100vw;
}
.botaoEnviar{
	background-color: #899dd9;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 2px 2px 3px;
	font-family: Helvetica;	
	outline: none;
	transition: 0.5s;
	margin-left: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.botaoEnviar:hover{
	transition: 0.5s;
	background-color: #96bd6f;
}
.textomensagem{
	margin-left: 2vw;
	margin-right: 2vw;
	background-color: white;
	border-radius: 10px;
	color: black;
	padding: 3px;
	border: 1px solid black;
	margin-bottom: 1vh;
}
.fundo{
	background-color: #2a2a2b;
}