.gradient-custom-3 {
    /* fallback for old browsers */
    background: #36393e;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(54, 57, 62), rgb(54, 57, 62));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(54, 57, 62), rgb(54, 57, 62))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #36393e;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(54, 57, 62)), rgb(54, 57, 62);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(54, 57, 62), rgb(54, 57, 62))
}

#form {
    background-color: #dddddde8;


}

.tb {

    margin-bottom: 4.2vh;

}

.Entrar{
    margin-top: 7vw;



}

.instruções{

    font-size: 1vw;


}

form{
    
    margin-bottom:  11.6vw;

}